<!doctype html>
<html lang="pt-BR">
  <head>
    <%- include('../../../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../../../partials/header.ejs') %>
    <main></main>
  </body>
</html>
