<!doctype html>
<html lang="pt-BR">
  <head>
    <%- include('../../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../../partials/header.ejs') %>
    <main>
      <div class="aplistdiv">
        <h1 class="aplisttitle">Aparições de Nossa Senhora em Portugal</h1>
        <ul class="aplist">
          <li>
            <a href="#arcosdevalvedez"
              >Nossa Senhora da Peneda - Arcos de Valvedez</a
            >
          </li>
          <li><a href="/fatima">Nossa Senhora de Fátima - Fátima</a></li>
          <li><a href="#nazare">Nossa Senhora de Nazaré - Nazaré</a></li>
        </ul>
      </div>
      <div id="arcosdevalvedez" class="apparition">
        <h2 class="aptitle">Nossa Senhora da Peneda</h2>
        <div class="apcontent">
          <div class="apimagediv">
            <img
              src="/images/apparitions/portugal/peneda2.jpg"
              alt="Santuário de Nossa Senhora da Peneda"
              class="apimage"
              title="Santuário de Nossa Senhora da Peneda"
            />
            <legend class="imagedesc">Santuário de Nossa Senhora da Peneda</legend>
          </div>
          <p>
            As aparições de Nossa Senhora da Peneda começaram em 5 de agosto de
            1220 quando a Virgem Santíssima apareceu na forma de uma pomba
            branca a uma pastorinha que andava pelos campos de Peneda, em Arcos
            de Valvedez - Portugal, e pediu a ela que construissem um santuário
            em sua Honra.
          </p>
          <div class="apimagedivvert">
            <img
              src="/images/apparitions/portugal/peneda3.jpg"
              alt="Imagem de Nossa Senhora da Peneda"
              title="Imagem de Nossa Senhora da Peneda"
              class="apimage"
            />
            <legend class="imagedesc">Imagem de Nossa Senhora da Peneda</legend>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            et officiis quod maiores, laudantium porro, eligendi eum ducimus
            culpa minus aspernatur placeat! Suscipit quo quam velit illum
            dignissimos quisquam iusto. Eligendi et ipsum expedita distinctio
            voluptates quas qui praesentium, sapiente, ullam repellat id? Magnam
            incidunt, corporis omnis minima ullam facilis nemo cupiditate
            voluptatibus quis perferendis vel, earum reiciendis rem totam.
            Blanditiis esse veritatis rerum adipisci perspiciatis voluptatum
            consequatur ab! Quasi reprehenderit distinctio consequuntur iste
            fuga delectus inventore, iure non. Alias beatae aut suscipit
            mollitia itaque, non eos pariatur est corrupti? Nulla impedit unde
            inventore, sit veniam eligendi, iste architecto deleniti natus vel
            dolore sapiente et, doloribus cupiditate dicta enim rerum
            praesentium fugit. Molestiae, unde omnis sed voluptate fuga sunt
            aliquid. Modi illo sit autem commodi enim error ex reprehenderit
            saepe vitae, veritatis earum ratione quam! Unde recusandae, sequi
            ullam sed dicta quo adipisci quod odit optio incidunt nam.
            Assumenda, quam. Sunt nisi quisquam molestiae aliquid repudiandae
            alias. Sequi sapiente magnam laborum ut magni ab, velit accusamus
            porro eius qui nostrum at amet natus impedit perspiciatis debitis
            veniam atque, saepe possimus.
          </p>
        </div>
      </div>
      <div id="nazare" class="apparition">
        <h2 class="aptitle">Nossa Senhora de Nazaré</h2>
        <div class="apimagedivm">
          <img
            src="/images/apparitions/portugal/nazare.jpg"
            alt="Estátua de Nossa Senhora de Nazaré"
            class="apimage"
            title="Imagem de Nossa Senhora de Nazaré"
          />
          <legend class="imagedesc">Imagem de Nossa Senhora de Nazaré</legend>
        </div>
        <div class="apcontent">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            provident exercitationem magnam voluptas! Delectus, necessitatibus
            repellat impedit cum molestias ducimus laudantium! Vero distinctio
            doloribus temporibus corrupti maiores ipsam quod sint. Eaque,
            aperiam eligendi? Necessitatibus unde ut libero ad placeat deleniti
            ipsum non dolorum exercitationem. Quia eum alias blanditiis voluptas
            suscipit, sed iure nihil vel consectetur repellendus adipisci,
            labore possimus molestiae. Dignissimos quae nisi enim eos quia nam
            quo! Cum natus quidem nostrum minus inventore quas voluptatibus non
            aliquid odit eum tempore, iste hic impedit tempora assumenda ad
            suscipit? Amet, asperiores? Reiciendis veniam facilis nam commodi id
            autem sequi quia quis? Sequi, praesentium cum voluptatum, quae
            cupiditate error reiciendis id animi qui provident aspernatur quidem
            neque quibusdam eos obcaecati repudiandae laborum! Tempora non quas
            rerum, atque nulla quae neque odio incidunt cupiditate accusamus,
            nesciunt saepe eius laudantium corporis iusto, dolores impedit earum
            magni deleniti pariatur magnam est. Quisquam suscipit non minus!
          </p>
          <div class="apimagediv">
            <img
              src="/images/apparitions/portugal/nazare2.jpg"
              alt="Basílica de Nossa Senhora de Nazaré"
              class="apimage"
              title="Basílica de Nossa Senhora de Nazaré"
            />
            <legend class="imagedesc">Basílica de Nossa Senhora de Nazaré</legend>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
            doloribus qui aliquam deleniti natus temporibus quisquam vel
            molestiae, laboriosam tenetur illum impedit similique error
            perferendis doloremque, sequi dicta beatae repudiandae. Nobis, quo
            et! Modi rem accusamus incidunt, maxime deleniti ipsum amet pariatur
            recusandae nihil magnam repellendus possimus voluptas ut atque
            laboriosam blanditiis nam doloremque voluptate tempora! Non porro
            nisi debitis! Dolor reiciendis ipsum nulla ipsam qui tempora sequi
            debitis quis incidunt. Magni sunt, architecto veritatis laborum,
            alias ducimus asperiores iste, aspernatur sit temporibus iure beatae
            explicabo facere autem odit. Odio. Adipisci nulla eveniet ab
            consequuntur, neque consequatur nostrum provident maiores quidem,
            laboriosam qui blanditiis voluptate molestias aperiam est! Eligendi
            culpa magnam beatae modi adipisci minus reprehenderit.
            Exercitationem rerum quam totam. Debitis aut, soluta inventore
            laudantium ullam quisquam incidunt unde quia neque mollitia ex
            consequuntur molestiae vero id explicabo culpa praesentium!
            Suscipit, quis? Unde modi architecto voluptas nihil ipsam dolorem
            aspernatur? Nisi quia pariatur accusamus nulla. Quas, esse
            laudantium nesciunt ex cumque architecto vitae eos dicta modi fugit
            dolore explicabo consequuntur magni voluptate nihil error facilis
            ullam voluptatum dignissimos necessitatibus perspiciatis?
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
