<!doctype html>
<html lang="pt-BR">
  <head>
    <%- include('../../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../../partials/header.ejs') %>
    <main>
      <div>
        <ul>
          <li><a href="#arcosdevalvedez">Nossa Senhora da Peneda - Arcos de Valvedez</a></li>
          <li><a href="#fatima">Nossa Senhora de Fátima</a></li>
          <li><a href="#nazare">Nossa Senhora de Nazaré - Nazaré</a></li>
        </ul>
      </div>
      
    </main>
  </body>
</html>
