<!doctype html>
<html lang="pt-BR">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="flex container items-center justify-center">
      <div class="text-5xl block text-black">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nisi
        labore veritatis temporibus? Delectus, dolore id reprehenderit harum
        tenetur incidunt nemo, omnis facere rem ipsa reiciendis nobis veritatis
        architecto nam! A odio molestias fugiat libero maiores vel. Nostrum,
        illum reiciendis quos nesciunt odio doloribus dignissimos nemo, aperiam
        voluptas, obcaecati fugiat quidem? Laborum fuga obcaecati reiciendis
        doloremque, necessitatibus mollitia a saepe. Molestiae rerum iure
        facilis odio consequatur pariatur dolorum laboriosam maiores sunt
        ratione vel incidunt tenetur eius, esse magnam dolorem expedita at
        veniam eligendi quis. Reprehenderit praesentium aliquam ea natus enim!
        Quasi iusto minus aut deserunt natus delectus nobis eligendi beatae
        reprehenderit. Repellat consequatur animi natus aliquid reiciendis dicta
        sunt doloribus consequuntur nostrum quasi. Quaerat esse dicta animi,
        facilis veniam nulla? Sunt voluptate non est blanditiis modi tenetur
        quidem ut, voluptatibus laudantium provident vero quod nisi nihil.
        Nesciunt aut saepe excepturi architecto hic a tempora. Rerum vel quam
        expedita id explicabo!
      </div>
    </main>
  </body>
</html>
