<!doctype html>
<html lang="pt-BR" aria-flowto="header">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/index.css" />
    <script src="/scripts/index.js" defer></script>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="flex flex-col items-center">
      <div class="flex items-center justify-center">
        <div id="title-image" class="flex items-center justify-center">
          <h1 id="phraise" class="flex flex-col">
            <cite class="text-center">
              &OpenCurlyDoubleQuote;Ninguém tem a Jesus Cristo por irmão,<br />
              que não tenha à Maria Santíssima por
              Mãe.&CloseCurlyDoubleQuote;<br />
            </cite>
            <p class="text-end">- São Francisco de Sales</p>
          </h1>
        </div>
      </div>
      <div class="text-4xl">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
          quasi quas nihil fugiat ipsum in nobis. Molestiae velit, atque natus
          corporis, officiis asperiores ratione magnam quasi architecto
          obcaecati incidunt perferendis. Quibusdam, non fuga cupiditate sequi
          maiores tenetur soluta quisquam consequatur et molestias ut nulla
          quasi nostrum autem. Soluta nam nulla ad eligendi inventore, vel
          consectetur maxime quasi eos vero. Omnis! Obcaecati temporibus iusto
          saepe fuga qui explicabo impedit officiis aliquam, voluptates
          expedita, a minus et recusandae sit sapiente, rem id. Reiciendis odio
          doloribus, ducimus sint nesciunt provident deleniti accusantium rerum?
          Corporis porro voluptatem molestiae perspiciatis non ad, voluptate nam
          ipsam velit quisquam. Modi totam est nihil quam cumque soluta error
          explicabo hic perferendis ipsam dolore consequuntur exercitationem
          cum, tenetur nemo. Repudiandae quae quibusdam quia numquam
          voluptatibus, id vitae soluta iure libero rem vero praesentium?
          Aliquam neque dolore optio commodi soluta molestiae, asperiores vel
          itaque modi laudantium recusandae, vitae et nisi.
          <br />Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Molestias, facere. Consectetur fugiat distinctio porro laboriosam
          eveniet, repellendus voluptatibus dolore quos fuga velit blanditiis
          possimus quo nobis amet reiciendis, minima sapiente? Molestiae ipsa
          mollitia consectetur quisquam repellendus, pariatur quis eligendi,
          ipsum soluta esse neque! Quod ullam possimus delectus? Deserunt, nihil
          sequi! Et numquam fugit fuga animi quos voluptatem. Architecto, velit
          omnis! Nihil nemo tenetur voluptates provident aut adipisci!
          Explicabo, nobis at quaerat numquam vero debitis dolorem recusandae
          unde enim ut itaque, suscipit consequatur tempora nihil eveniet qui?
          Non nobis eum a! Recusandae sint, ex doloribus corporis perspiciatis
          incidunt accusamus quibusdam! Sapiente dignissimos praesentium animi
          quidem, a labore eius totam repellat, deserunt saepe quibusdam ipsa
          quas provident quos doloremque pariatur id minima! Voluptas
          exercitationem officia quia tempora, facere in doloribus nesciunt
          laudantium error reiciendis quo necessitatibus voluptatum esse
          tenetur. Eveniet repellendus ipsum reiciendis rem repudiandae nihil
          unde quo doloribus, libero quisquam vero. Autem at numquam delectus
          fugit sapiente officiis itaque consequuntur magni non iste in maiores
          ut natus molestiae, nulla fuga illum iure id eaque? Sunt aspernatur
          corrupti quaerat quisquam voluptatum modi? Soluta esse saepe
          asperiores maiores excepturi praesentium, maxime a quos eos! Aperiam,
          id ex a magnam neque enim excepturi totam optio quibusdam autem sint
          aliquam ullam dolorum consectetur, explicabo repudiandae? Laudantium,
          tempora. Laboriosam repudiandae explicabo aspernatur tempore illo.
          Dolor nobis corporis fuga laboriosam repudiandae quasi dicta porro
          amet numquam, cupiditate inventore ratione nostrum exercitationem
          repellendus quos iste odit? Reiciendis, ab! Dolor ratione harum at,
          saepe ut autem consequatur, id est perferendis nihil eaque!
          Perferendis natus pariatur numquam culpa dolore. Expedita dignissimos
          aspernatur consectetur officiis adipisci quae debitis. Aut, iusto
          doloremque. Unde accusamus reiciendis quae, natus veniam, repellendus
          aliquid inventore repudiandae officiis quia nobis fuga deserunt odio
          fugit adipisci dolores amet corrupti odit. Atque fuga nemo totam,
          explicabo ullam quod rem!
        </p>
      </div>
    </main>
  </body>
</html>
